.count {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #2D2C2C;
  text-align: center;
}

.spans {
  font-family: sans-serif;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 3px;
  padding: 7px 32px 8px 32px;
}